<div class="row">
    <div class="col-sm-12">
        <h2>Home</h2>

        <hackerlist></hackerlist>

<form (ngSubmit)="saveHacker()" #hackerForm="ngForm">
    <lable for="">Name: <input type="text" [(ngModel)]="hacker.name" ngControl="name" required> </lable>
    <lable for="">Points: <input type="text" [(ngModel)]="hacker.points" ngControl="points" required> </lable>

    <button type="submit" [disabled]="!hackerForm.form.valid">Save</button>
    <button (click)="goToAbout()">Go to About</button>
</form>
    </div>
</div>